<a href="https://colab.research.google.com/github/Raihanas17/learn-data/blob/main/Raihan%20Akbar%20Syamputra_221011403086_05TPLE018_UTS%20KECERDASAN%20BUATAN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

TUGAS 1

In [2]:
company_names = sorted([{"name": company["name"]} for company in company_detail_list], key=lambda x: x["name"], reverse=True)
company_names

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

TUGAS 2

In [3]:
for company in company_detail_list:
    print(f'{company["name"]}: {company["domain"]} ({company["country"]})')

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

TUGAS 3

In [4]:
# Membuat dictionary untuk mengelompokkan karyawan berdasarkan domain perusahaan
employees_by_domain = {}
for employee in employee_detail_list:
    company_name = employee["company"]
    company = next((c for c in company_detail_list if c["name"] == company_name), None)
    if company:
        domain = company["domain"]
        if domain not in employees_by_domain:
            employees_by_domain[domain] = []
        employees_by_domain[domain].append(employee["full_name"])

employees_by_domain

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'],
 'Technology': ['Tom Smith', 'Rubby Lee'],
 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

TUGAS 4

In [5]:
def get_employees_with_company_country():
    employees_with_country = []
    for employee in employee_detail_list:
        company_name = employee["company"]
        company = next((c for c in company_detail_list if c["name"] == company_name), None)
        if company:
            employees_with_country.append({
                "full_name": employee["full_name"],
                "company": company_name,
                "country": company["country"]
            })
    return employees_with_country

get_employees_with_company_country()

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'},
 {'full_name': 'Tom Smith',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Andrew Sebastian',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Ying Han Tan',
  'company': 'Company 1',
  'country': 'United States'},
 {'full_name': 'Kenneth Ng',
  'company': 'Company 3',
  'country': 'United States'},
 {'full_name': 'Rubby Lee',
  'company': 'Company 2',
  'country': 'United Kingdom'},
 {'full_name': 'Robert White',
  'company': 'Company 1',
  'country': 'United States'}]

TUGAS 5

In [6]:
from collections import defaultdict

def get_company_employee_nationality_count():
    nationality_count_by_company = defaultdict(lambda: defaultdict(int))

    for employee in employee_detail_list:
        company_name = employee["company"]
        nationality = employee["nationality"]
        nationality_count_by_company[company_name][nationality] += 1

    # Format hasil sesuai harapan
    result = []
    for company in company_detail_list:
        company_name = company["name"]
        result.append({
            "company": company_name,
            "employee_nationality": dict(nationality_count_by_company[company_name])
        })
    return result

get_company_employee_nationality_count()

[{'company': 'Company 1',
  'employee_nationality': {'Australia': 2, 'United Kingdom': 1}},
 {'company': 'Company 2',
  'employee_nationality': {'United States': 1, 'Hong Kong': 1}},
 {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]